# DO NOT WRITE PASSWORDS HERE
# THIS IS JUST AN EXAMPLE DOCUMENT TO HELP DEVELOPERS DEFINE ENV_VARIABLES

# USAGE EXAMPLE:

# import { env } from '$env/dynamic/private'; 
# const apiKey = env.MY_API_KEY;

# CHECK https://kit.svelte.dev/docs/modules#$env-dynamic-private FOR WHEN TO USE DYNAMIC/STATIC and PRIVATE/PUBLIC VARIABLES

# CREATE .env for production and .env.development for development and include the following variables:
